<p id="notice"><%= notice %></p>

<p>
  <strong>Type of Investment:</strong>
  <%= @investment.type_of_investment %>
</p>

<p>
  <strong>Value:</strong>
  <%= @investment.price %>
</p>



<p>
  <strong>Original Value:</strong>
  <%= @investment.original_value %>
</p>


<p>
  <strong>Total Value:</strong>
  <%= @investment.total %>
</p>








<%= link_to 'Show All Investments', investments_path, class: 'btn btn-success btn-xs' %>
