<%= form_for(@money_on_deposit) do |f| %>
  <% if @money_on_deposit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@money_on_deposit.errors.count, "error") %> prohibited this money_on_deposit from being saved:</h2>

      <ul>
      <% @money_on_deposit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Institution %><br>
    <%= f.text_field :institution %>
  </div>
  <div class="field">
    <%= f.label :Amount %><br>
    <%= f.text_field :price %>
  </div>
    <div class="field">
      <%= f.label :Original_Amount %><br>
      <%= f.text_field :original_value %>
    </div>
  <div class="field">
    <%= f.label :Account_number %><br>
    <%= f.text_field :account_number %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
