<p id="notice"><%= notice %></p>

<p>
  <strong>Institution:</strong>
  <%= @money_on_deposit.institution %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @money_on_deposit.price %>
</p>

<p>
  <strong>Original Amount:</strong>
  <%= @money_on_deposit.original_value %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @money_on_deposit.account_number %>
</p>

<p>
  <strong>Total Value:</strong>
  <%= @money_on_deposit.total %>
</p>









<%= link_to 'Edit', edit_money_on_deposit_path(@money_on_deposit), class: 'btn btn-info btn-xs' %> |
<%= link_to 'Show All Deposits', money_on_deposits_path, class: 'btn btn-success btn-xs' %>
