<%= form_for(@share) do |f| %>
  <% if @share.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@share.errors.count, "error") %> prohibited this share from being saved:</h2>

      <ul>
      <% @share.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name_of_share %><br>
    <%= f.text_field :name_of_share %>
  </div>

  <div class="field">
    <%= f.label :symbol %><br>
    <%= f.select(:symbol, options_from_collection_for_select(Post.all, :id, :stockscrape), :include_blank => true) %>
  </div>
  <div class="field">
    <%= f.label :original_value %><br>
    <%= f.text_field :original_value %>
  </div>
    <div class="field">
      <%= f.label :price %><br>
      <%= f.select(:price, options_from_collection_for_select(Post.all, :id, :stockscrape), :include_blank => true) %>
    </div>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
