<p id="notice"><%= notice %></p>



<p>
  <strong>Name of share:</strong>
  <%= @share.name_of_share %>
</p>


<p>
  <strong>Symbol:</strong>
  <%= @share.symbol %>
</p>

<p>
  <strong>Original_Value:</strong>
  <%= @share.original_value %>
</p>

<p>
  <strong>Price:</strong>
  <%= @share.price %>
</p>















<%= link_to 'Edit', edit_share_path(@share) %> |
<%= link_to ' View all Shares', shares_path %>
