<h1>Listing Insurances</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Company</th>
      <th></th>
      <th>Policy number</th>
      <th></th>
      <th>Website</th>
      <th></th>
      <th>Phone</th>
      <th></th>
      <th>Renewal date</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insurances.each do |insurance| %>
      <tr>
        <td><%= insurance.company %></td>
        <td><%= insurance.policy_number %></td>
        <td><%= insurance.website %></td>
        <td><%= insurance.phone %></td>
        <td><%= insurance.renewal_date %></td>
        <td><%= link_to 'Show', insurance %></td>
        <td><%= link_to 'Delete', insurance, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_insurance_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-plus"></i> New Insurance
<% end %>
