<p id="notice"><%= notice %></p>

<p>
  <strong>address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Current value:</strong>
  <%= @property.price %>
</p>
<p>
  <strong>Original value:</strong>
  <%= @property.original_value %>
</p>

<p>
  <strong>Total Value:</strong>
  <%= @property.total %>
</p>








<%= link_to 'Edit', edit_property_path(@property), class: 'btn btn-info btn-xs' %> |
<%= link_to 'Show All Properties', properties_path, class: 'btn btn-success btn-xs' %>
