<p id="notice"><%= notice %></p>

<p>
  <strong>address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Current value:</strong>
  <%= @property.price %>
</p>
<p>
  <strong>Original value:</strong>
  <%= @property.original_value %>
</p>








<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
