<% provide(:title, @customer.CustomerName) %>
<div class="row">
  <aside class="col-md-4">
    <section class="customers_info">
      <h1>
        <%= gravatar_for @customer %>
        <%= @customer.CustomerName %>
      </h1>
    </section>
  </aside>
</div>

<div class="row">


  <section class="col-md-8">
    <% if @customer.shares.any? %>
        <h5><%= link_to "shares", shares_path %>(<%= @customer.shares.count %>)</h5>
        <ol class="shares">
        </ol>
    <% end %>
  </section>
  <div class="col-md-8">
    <% if @customer.investments.any? %>
        <h5><%= link_to "investments", investments_path %> (<%= @customer.investments.count %>)</h5>
        <ol class="investments">
        </ol>
    <% end %>
  </div>
  <div class="col-md-8">
    <% if @customer.loans.any? %>
        <h5><%= link_to "loans", loans_path %> (<%= @customer.loans.count %>)</h5>
        <ol class="loans">
        </ol>
    <% end %>
  </div>
  <div class="col-md-8">
    <% if @customer.miscs.any? %>
        <h5><%= link_to "other possessions", miscs_path %> (<%= @customer.miscs.count %>)</h5>
        <ol class="miscs">
        </ol>
    <% end %>
  </div>
  <div class="col-md-8">
    <% if @customer.money_on_deposits.any? %>
        <h5><%= link_to "deposits", money_on_deposits_path %> (<%= @customer.money_on_deposits.count %>)</h5>
        <ol class="money_on_deposits">
        </ol>
    <% end %>
  </div>
  <div class="col-md-8">
    <% if @customer.pensions.any? %>
        <h5><%= link_to "pensions", pensions_path %> (<%= @customer.pensions.count %>)</h5>
        <ol class="pensions">
        </ol>
    <% end %>
  </div>
  <div class="col-md-8">
    <% if @customer.properties.any? %>
        <h5><%= link_to "properties", properties_path %> (<%= @customer.properties.count %>)</h5>
        <ol class="properties">
        </ol>
    <% end %>
  </div>
  <div class="col-md-8">
    <% if @customer.vehicles.any? %>
        <h5><%= link_to "vehicles", vehicles_path %> (<%= @customer.vehicles.count %>)</h5>
        <ol class="vehicles">
        </ol>
    <% end %>
  </div>

</div>
