<h1>Listing pensions</h1>

<table>
  <thead>
    <tr>
      <th>company</th>
      <th>Address</th>
      <th>Maturity date</th>
      <th>Current value</th>
      <th>Original value</th>
      <th>Total Value</th>

      <th>Expected value at maturity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pensions.each do |pension| %>
      <tr>
        <td><%= pension.company %></td>
        <td><%= pension.address %></td>
        <td><%= pension.maturity_date %></td>
        <td><%= pension.price %></td>
        <td><%= pension.original_value %></td>
        <td><%= pension.total %></td>
        <td><%= pension.expected_value_at_maturity %></td>


      </tr><tr>
    <td><%= link_to 'Show', pension, class: 'btn btn-primary btn-xs' %></td>
    <td><%= link_to 'Delete', pension, class: 'btn btn-danger btn-xs', method: :delete, data: {confirm: 'Are you sure?'} %></td>
  </tr>
  <% end %>
  </tbody>
</table>
</table>

<br>

<%= link_to new_pension_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-plus"></i> New Pension
<% end %>