<h1>Listing Loans</h1>

<table>
  <thead>
    <tr>
      <th>institution</th>
      <th>Account number</th>
      <th>Amount</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.institution %></td>
        <td><%= loan.account_number %></td>
        <td><%= loan.amount %></td>

      </tr><tr>
        <td><%= link_to 'Show', loan %></td>
        <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
        <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan', new_loan_path %>
