<h1>Listing Loans</h1>

<table>
  <thead>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= pie_chart Loan.group(:institution).count %>
    <tr>
      <th>Institution</th>
      <th>Account number</th>
      <th>Price</th>
      <th>Original Value</th>
      <th>Profit/Loss</th>


      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.institution %></td>
        <td><%= loan.account_number %></td>
        <td><%= loan.price %></td>
        <td><%= loan.original_value %></td>
        <td><%= loan.total %></td>



      </tr><tr>
    <td><%= link_to 'Show', loan, class: 'btn btn-primary btn-xs' %></td>
    <td><%= link_to 'Edit', edit_loan_path(loan), class: 'btn btn-info btn-xs' %></td>
    <td><%= link_to 'Delete', loan, class: 'btn btn-danger btn-xs', method: :delete, data: {confirm: 'Are you sure?'} %></td>
  </tr>
  <% end %>
  </tbody>
</table>
</table>

<br>

<%= link_to new_loan_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-plus"></i> New Loan
<% end %>