<p id="notice"><%= notice %></p>

<p>
  <strong>Institution:</strong>
  <%= @loan.institution %>
</p>



<p>
  <strong>Account number:</strong>
  <%= @loan.account_number %>
</p>



<p>
  <strong>Amount:</strong>
  <%= @loan.price %>
</p>

<p>
  <strong>Original Amount:</strong>
  <%= @loan.original_value %>
</p>

<p>
  <strong>Total Value:</strong>
  <%= @loan.total %>
</p>







<%= link_to 'Edit', edit_loan_path(@loan), class: 'btn btn-info btn-xs' %> |
<%= link_to 'Show All Loans', loans_path, class: 'btn btn-success btn-xs' %>
