<h1>Listing vehicles</h1>

<table>
  <thead>
  <%= pie_chart Vehicle.group(:model).count %>
    <tr>
      <th>make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Reg</th>
      <th>Value</th>
      <th>Original Value</th>
      <th>Profit/Loss</th>


      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.make %></td>
        <td><%= vehicle.model %></td>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.reg %></td>
        <td><%= vehicle.price %></td>
        <td><%= vehicle.original_value %></td>
        <td><%= vehicle.total %></td>


      </tr><tr>
    <td><%= link_to 'Show', vehicle, class: 'btn btn-primary btn-xs' %></td>
    <td><%= link_to 'Delete', vehicle, class: 'btn btn-danger btn-xs', method: :delete, data: {confirm: 'Are you sure?'} %></td>
  </tr>
  <% end %>
  </tbody>
</table>
</table>

<br>

<%= link_to new_vehicle_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-plus"></i> New Vehicle
<% end %>