<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @vehicle.make %>
</p>



<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>



<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>



<p>
  <strong>Reg:</strong>
  <%= @vehicle.reg %>
</p>



<p>
  <strong>Value:</strong>
  <%= @vehicle.price %>
</p>

<p>
  <strong>Original Value:</strong>
  <%= @vehicle.original_value %>
</p>

<p>
  <strong>Total Value:</strong>
  <%= @vehicle.total %>
</p>







<%= link_to 'Show All Vehicles', vehicles_path, class: 'btn btn-success btn-xs' %>
