<h1>Listing Miscs</h1>

<table>
  <thead>

  <tr>
      <th>Name</th>
      <th>Serial no</th>
      <th>Value</th>
      <th>Original Value</th>
      <th>Profit/Loss</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @miscs.each do |misc| %>
      <tr>
        <td><%= misc.name %></td>
        <td><%= misc.serial_no %></td>
        <td><%= misc.price %></td>
        <td><%= misc.original_value %></td>
        <td><%= misc.total %></td>



      </tr><tr>
    <td><%= link_to 'Show', misc, class: 'btn btn-primary btn-xs' %></td>
    <td><%= link_to 'Edit', edit_misc_path(misc), class: 'btn btn-info btn-xs' %></td>
    <td><%= link_to 'Delete', misc, class: 'btn btn-danger btn-xs', method: :delete, data: {confirm: 'Are you sure?'} %></td>
  </tr>
  <% end %>
  </tbody>
</table>
</table>

<br>

<%= link_to new_misc_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-plus"></i> New Misc
<% end %>