<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @misc.name %>
</p>



<p>
  <strong>Serial no:</strong>
  <%= @misc.serial_no %>
</p>



<p>
  <strong>Value:</strong>
  <%= @misc.price %>
</p>

<p>
  <strong>Original Value:</strong>
  <%= @misc.original_value %>
</p>



<p>
  <strong>Image:</strong>
  <%= @misc.image %>
</p>



<p>
  <strong>Customer:</strong>
  <%= @misc.customer_id %>
</p>











<%= link_to 'Edit', edit_misc_path(@misc) %> |
<%= link_to 'Back', miscs_path %>
