<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @misc.name %>
</p>



<p>
  <strong>Serial no:</strong>
  <%= @misc.serial_no %>
</p>



<p>
  <strong>Value:</strong>
  <%= @misc.price %>
</p>

<p>
  <strong>Original Value:</strong>
  <%= @misc.original_value %>
</p>



<p>
  <strong>Image:</strong>
  <%= @misc.image %>
</p>



<p>
  <strong>Customer:</strong>
  <%= @misc.customer_id %>
</p>

<p>
  <strong>Total Value:</strong>
  <%= @misc.total %>
</p>











<%= link_to 'Edit', edit_misc_path(@misc), class: 'btn btn-info btn-xs' %> |
<%= link_to 'Show All Other Assets', misc_path, class: 'btn btn-success btn-xs' %>
