<h1>Listing receipts</h1>

<table>
  <thead>
    <tr>
      <th>details</th>
      <th>Image</th>
  </thead>

  <tbody>
    <% @receipts.each do |receipt| %>
      <tr>
        <td><%= receipt.details %></td>
        <td><%= receipt.image %></td>
      </tr><tr>
        <td><%= link_to 'Show', receipt, class: 'btn btn-primary btn-xs' %></td>
    <td><%= link_to 'Delete', receipt, class: 'btn btn-danger btn-xs', method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_receipt_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-plus"></i> New receipt
<% end %>