<p id="notice"><%= notice %></p>

<p>
  <strong>details:</strong>
  <%= @receipt.details %>
</p>



<p>
  <strong>Image:</strong>
  <%= @receipt.image %>
</p>



<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
